*{
    margin:0;
    padding: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-container{
    background-color: black;
    line-height: 150%;
    display: flex;
    flex-direction: column;
}

.footer-center{
    h1{
        font-size: 2.0rem;
        margin-bottom: 10px;
    }
}