*{
    margin: 0;
}

.white-footer-container{
    padding: 10px 10px;
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    font-family: 'NanumGothic';
    font-size: 13px;
    font-weight: 500;
}