*{
    margin: 0;
}

.white-footer-container{
    margin-top: 20px;
    padding: 0px;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-family: 'NanumGothic';
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}