.signup-modal {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute;
}


.signup-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  background-color: white;
}

.signup-right{
  width: 600px;
  background-color: #{$gray};
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 400px;
    padding: 70px;
  }
}

.signup-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  justify-content: center;
  align-items: center;
  .signup-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 30px;
  }
  img {
    width: 250px;
    padding: 0px 20px;
  }
  article {
    width: 300px;
    align-items: flex-start;
    div {
      font-family: 'NanumGothic';
      font-weight: 600;
      font-size: 13px;
      padding: 10px 0px;
    }
    input {
      border: solid 1px #{$gray};
      border-radius: 5px;
      height: 35px;
      width: 280px;
      padding: 0 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

.signup-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
  background-color: #{$green};
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'NanumGothic';
  cursor: pointer;
  }
}
  