@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.alert-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute; }

.alert-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  background-color: white; }

.alert-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .alert-box .alert-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 30px; }
  .alert-box article {
    align-items: flex-start;
    padding: 0 40px; }
    .alert-box article div {
      font-family: 'NanumGothic';
      font-weight: 600;
      font-size: 13px;
      padding: 10px 0px; }

.alert-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .alert-button-container button {
    background-color: #2F8C4C;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'NanumGothic';
    cursor: pointer; }
  .alert-button-container button:nth-child(2) {
    background-color: #E1E1E1;
    color: black; }

* {
  margin: 0;
  padding: 0; }

.components-button {
  width: auto;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  text-justify: inter-word;
  cursor: pointer;
  line-height: 40px;
  padding: 10px;
  font-size: 15px; }

.error-container {
  background-color: white; }
  .error-container img {
    width: 500px;
    height: 500px; }

* {
  margin: 0;
  padding: 0; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; }

.footer-container {
  background-color: black;
  line-height: 150%;
  display: flex;
  flex-direction: column; }

.footer-center h1 {
  font-size: 2.0rem;
  margin-bottom: 10px; }

.footer-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'NanumGothic';
  font-size: 13px;
  font-weight: 500; }

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading-container div {
    color: #2F8C4C;
    font-family: 'NanumGothic';
    font-weight: 600; }

@keyframes ldio-fjikxf1d8mn {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5); }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1); } }

.ldio-fjikxf1d8mn div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #2F8C4C;
  color: #ffffff;
  animation: ldio-fjikxf1d8mn 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center; }

.ldio-fjikxf1d8mn div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s; }

.ldio-fjikxf1d8mn > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px; }

.ldio-fjikxf1d8mn div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s; }

.ldio-fjikxf1d8mn > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px; }

.ldio-fjikxf1d8mn div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s; }

.ldio-fjikxf1d8mn > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px; }

.ldio-fjikxf1d8mn div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s; }

.ldio-fjikxf1d8mn > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px; }

.ldio-fjikxf1d8mn div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s; }

.ldio-fjikxf1d8mn > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px; }

.ldio-fjikxf1d8mn div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s; }

.ldio-fjikxf1d8mn > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px; }

.ldio-fjikxf1d8mn div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s; }

.ldio-fjikxf1d8mn > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px; }

.ldio-fjikxf1d8mn div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s; }

.ldio-fjikxf1d8mn > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px; }

.loadingio-spinner-spin-536paybpd9n {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff; }

.ldio-fjikxf1d8mn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-fjikxf1d8mn div {
  box-sizing: content-box; }

/* generated by https://loading.io/ */
.modifyuser-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.modifyuser-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute; }

.modifyuser-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  background-color: white; }

.modifyuser-right {
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center; }

.modifyuser-left {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .modifyuser-left .modifyuser-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 50px; }
  .modifyuser-left img {
    width: 250px;
    padding: 0px 20px;
    margin-bottom: 20px; }
  .modifyuser-left article {
    align-items: flex-start; }
    .modifyuser-left article div {
      font-family: 'NanumGothic';
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px; }
    .modifyuser-left article input {
      border: solid 1px #E1E1E1;
      border-radius: 5px;
      height: 35px;
      padding: 0 10px;
      margin-bottom: 10px; }
      .modifyuser-left article input:focus {
        outline: none; }
  .modifyuser-left ul {
    display: flex; }
    .modifyuser-left ul li {
      list-style: none;
      padding: 0 40px; }
      .modifyuser-left ul li a {
        text-decoration: none;
        color: black;
        font-family: 'NanumGothic';
        font-size: 13px;
        font-weight: 400; }
    .modifyuser-left ul li:nth-child(1) {
      border-right: solid 1px black; }

.modifyuser-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .modifyuser-button-container button {
    background-color: #2F8C4C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'NanumGothic';
    cursor: pointer; }

@media (min-width: 1200px) {
  .modifyuser-container {
    grid-template-columns: 1fr 1fr;
    width: 1000px; }
  .modifyuser-right {
    width: 600px; }
    .modifyuser-right img {
      width: 400px;
      padding: 70px; }
  .modifyuser-left {
    width: 400px; }
    .modifyuser-left input {
      width: 280px; }
    .modifyuser-left article {
      width: 300px; }
  .modifyuser-button-container button {
    width: 300px; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .modifyuser-container {
    width: 400px; }
  .modifyuser-right {
    display: none; }
  .modifyuser-left {
    width: 400px; }
    .modifyuser-left .modifyuser-close {
      margin-top: 5px; }
    .modifyuser-left input {
      width: 280px; }
    .modifyuser-left article {
      width: 300px; }
  .modifyuser-button-container button {
    width: 300px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .modifyuser-container {
    width: 300px; }
  .modifyuser-right {
    display: none; }
  .modifyuser-left {
    width: 300px; }
    .modifyuser-left .modifyuser-close {
      margin-top: 5px; }
    .modifyuser-left input {
      width: 200px; }
    .modifyuser-left article {
      width: 220px; }
  .modifyuser-button-container button {
    width: 225px; } }

.signin-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.signin-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute; }

.signin-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  background-color: white; }

.signin-right {
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center; }

.signin-left {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .signin-left .signin-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 60px; }
  .signin-left img {
    width: 250px;
    padding: 0px 20px;
    margin-bottom: 20px; }
  .signin-left article {
    align-items: flex-start; }
    .signin-left article div {
      font-family: 'NanumGothic';
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px; }
    .signin-left article input {
      border: solid 1px #E1E1E1;
      border-radius: 5px;
      height: 35px;
      padding: 0 10px;
      margin-bottom: 10px; }
      .signin-left article input:focus {
        outline: none; }
  .signin-left ul {
    display: flex; }
    .signin-left ul li {
      list-style: none;
      padding: 0 40px; }
      .signin-left ul li a {
        text-decoration: none;
        color: black;
        font-family: 'NanumGothic';
        font-size: 13px;
        font-weight: 400; }
    .signin-left ul li:nth-child(1) {
      border-right: solid 1px black; }

.signin-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .signin-button-container button {
    background-color: #2F8C4C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'NanumGothic';
    cursor: pointer; }

.signin-oauth-container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px; }

@media (min-width: 1200px) {
  .signin-container {
    grid-template-columns: 1fr 1fr;
    width: 1000px; }
  .signin-right {
    width: 600px; }
    .signin-right img {
      width: 400px;
      padding: 70px; }
  .signin-left {
    width: 400px; }
    .signin-left input {
      width: 280px; }
    .signin-left article {
      width: 300px; }
  .signin-button-container button {
    width: 300px; }
  .signin-oauth-container img {
    width: 50px; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .signin-container {
    width: 400px; }
  .signin-right {
    display: none; }
  .signin-left {
    width: 400px; }
    .signin-left .signin-close {
      margin-top: 5px; }
    .signin-left input {
      width: 280px; }
    .signin-left article {
      width: 300px; }
  .signin-button-container button {
    width: 300px; }
  .signin-oauth-container img {
    width: 50px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .signin-container {
    width: 300px; }
  .signin-right {
    display: none; }
  .signin-left {
    width: 300px; }
    .signin-left .signin-close {
      margin-top: 5px; }
    .signin-left input {
      width: 200px; }
    .signin-left article {
      width: 220px; }
  .signin-button-container button {
    width: 225px; }
  .signin-oauth-container img {
    width: 40px; } }

.signup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.signup-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute; }

.signup-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  background-color: white; }

.signup-right {
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center; }

.signup-left {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .signup-left .signup-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 30px; }
  .signup-left img {
    width: 250px;
    padding: 0px 20px; }
  .signup-left article {
    align-items: flex-start; }
    .signup-left article div {
      font-family: 'NanumGothic';
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px; }
    .signup-left article input {
      border: solid 1px #E1E1E1;
      border-radius: 5px;
      height: 35px;
      padding: 0 10px; }
      .signup-left article input:focus {
        outline: none; }

.signup-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup-button-container button {
    background-color: #2F8C4C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'NanumGothic';
    cursor: pointer; }

@media (min-width: 1200px) {
  .signup-container {
    grid-template-columns: 1fr 1fr;
    width: 1000px; }
  .signup-right {
    width: 600px; }
    .signup-right img {
      width: 400px;
      padding: 70px; }
  .signup-left {
    width: 400px; }
    .signup-left input {
      width: 280px; }
    .signup-left article {
      width: 300px; }
  .signup-button-container button {
    width: 300px; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .signup-container {
    width: 400px; }
  .signup-right {
    display: none; }
  .signup-left {
    width: 400px; }
    .signup-left .signup-close {
      margin-top: 5px; }
    .signup-left input {
      width: 280px; }
    .signup-left article {
      width: 300px; }
  .signup-button-container button {
    width: 300px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .signup-container {
    width: 300px; }
  .signup-right {
    display: none; }
  .signup-left {
    width: 300px; }
    .signup-left .signup-close {
      margin-top: 5px; }
    .signup-left input {
      width: 200px; }
    .signup-left article {
      width: 220px; }
  .signup-button-container button {
    width: 225px; } }

.navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar-right {
  list-style: none;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: right; }

.logo {
  width: 275px;
  display: flex; }

.hamburger-menubar {
  width: 35px;
  padding-right: 10px; }

.login-tag {
  font-size: 16px;
  padding-right: 25px;
  font-family: 'NanumGothic'; }

.navbar-logo-container {
  width: 900px;
  align-items: flex-start; }

.sidebar-container {
  height: 100vh;
  width: 230px;
  background-color: #E1E1E1;
  display: flex;
  position: absolute;
  right: 0; }

.menutab-container {
  margin: auto; }

ul {
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  cursor: pointer;
  margin: auto;
  font-family: 'NanumGothic';
  font-weight: 500; }

.searchinput-container {
  border: solid 1px #E1E1E1;
  border-radius: 10px;
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center; }
  .searchinput-container span {
    font-size: 2.0rem;
    padding: 10px;
    color: #E1E1E1; }
  .searchinput-container input {
    font-size: 1.7rem;
    color: black;
    border: none;
    width: 150px; }
    .searchinput-container input:focus {
      outline: none; }
  .searchinput-container input::-ms-clear,
  .searchinput-container input::-ms-reveal {
    display: none;
    width: 0;
    height: 0; }
  .searchinput-container input::-webkit-search-decoration,
  .searchinput-container input::-webkit-search-cancel-button,
  .searchinput-container input::-webkit-search-results-button,
  .searchinput-container input::-webkit-search-results-decoration {
    display: none; }

* {
  padding: 0;
  margin: 0; }

.tag-button {
  width: auto;
  padding: 0 12px;
  height: 23px;
  line-height: 23px;
  font-family: 'NanumGothic';
  font-size: 12px;
  font-weight: 800;
  color: white;
  background-color: #E1E1E1;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }

.codeinputmain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.codeinputmain-container {
  width: 1200px;
  display: flex; }
  .codeinputmain-container textarea:nth-child(1) {
    width: 70%;
    height: 65vh;
    background-color: #000;
    margin: 5px;
    overflow-y: scroll;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    resize: none;
    border: none;
    font-family: 'NanumGothic'; }
    .codeinputmain-container textarea:nth-child(1):focus {
      outline: none; }
  .codeinputmain-container textarea:nth-child(2) {
    width: 30%;
    height: 65vh;
    background-color: #E1E1E1;
    margin: 5px;
    overflow-y: scroll;
    padding: 10px;
    font-size: 1.5rem;
    resize: none;
    border: none;
    font-family: 'NanumGothic'; }
    .codeinputmain-container textarea:nth-child(2):focus {
      outline: none; }

.codeinputsecretbutton {
  display: flex;
  justify-content: center;
  align-items: center; }

.codeinputsecretbutton-container {
  width: 1200px;
  display: flex;
  justify-content: flex-end; }

.codeinputsecretbutton-checkbox {
  margin: 5px;
  display: flex;
  align-items: center; }
  .codeinputsecretbutton-checkbox span {
    font-size: 1.5rem;
    margin-left: 5px;
    font-family: 'NanumGothic'; }
  .codeinputsecretbutton-checkbox input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #bdbdbd;
    border-radius: 3px; }
  .codeinputsecretbutton-checkbox input[type="checkbox"]:checked {
    background: #2F8C4C; }
  .codeinputsecretbutton-checkbox input[type="checkbox"]:after {
    content: "";
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none; }
  .codeinputsecretbutton-checkbox input[type="checkbox"]:checked:after {
    display: block; }

.codeinputsecretbutton-button {
  margin-left: 10px; }
  .codeinputsecretbutton-button span {
    padding: 10px 30px;
    font-size: 1.7rem;
    font-family: 'NanumGothic'; }

.codeinputtagbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.codeinputtagbox-container {
  width: 1200px;
  display: flex;
  flex-direction: column; }

.codeinputtagbox-tagbox {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .codeinputtagbox-tagbox span {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin: 7px;
    width: 53px;
    text-align: center;
    font-family: 'NanumGothic';
    font-weight: 500; }
  .codeinputtagbox-tagbox div:nth-child(2) {
    display: flex; }

.codeinputtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; }

.codeinputtitle-container {
  width: 1200px;
  align-items: center;
  justify-content: center;
  display: flex; }
  .codeinputtitle-container span {
    font-size: 1.3rem;
    margin: 0 10px;
    width: 35px;
    min-width: 35px;
    font-family: 'NanumGothic';
    font-weight: 600; }
  .codeinputtitle-container input {
    width: 90vw;
    height: 2vh;
    padding: 0 5px;
    font-size: 1.3rem;
    border-radius: 3px;
    border: solid 1px #E1E1E1;
    font-family: 'NanumGothic'; }
    .codeinputtitle-container input:focus {
      outline: none; }

.kanban {
  display: flex;
  align-items: center;
  justify-content: center; }

.kanban-container {
  width: 1200px;
  display: flex;
  flex-direction: column; }

.kanban-header {
  display: flex;
  justify-content: space-between;
  margin: 10px; }
  .kanban-header span:nth-child(2) {
    padding: 0px 40px; }

.kanban-subject {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px; }
  .kanban-subject div {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 15px;
    color: #2F8C4C; }

.kanban-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.kanban-list {
  background-color: #E1E1E1;
  height: 80vh;
  padding: 10px;
  margin: 10px;
  overflow-y: scroll; }

.kanban-list-item {
  background-color: white;
  font-size: 2.0rem;
  margin: 10px 0;
  font-family: 'Nanum Gothic';
  height: 130px;
  padding: 10px;
  cursor: grab; }
  .kanban-list-item:active {
    cursor: grabbing; }
  .kanban-list-item h1 {
    font-size: 1.5rem;
    margin-bottom: 5px; }
  .kanban-list-item div:nth-child(2) {
    font-size: 1.3rem;
    margin-bottom: 10px; }
  .kanban-list-item div:nth-child(3) {
    font-size: 1.5rem; }

.kanban-list .kanban-list-item {
  transition: all 0.2s linear; }

.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2F8C4C; }

.buttoncontainer-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0; }
  .buttoncontainer-container div span {
    padding: 15px 50px;
    font-size: 2.0rem;
    font-family: 'NanumGothic'; }

@media (min-width: 335px) and (max-width: 768px) {
  .buttoncontainer-container div span {
    font-size: 1.6rem; } }

.codereview {
  display: flex;
  justify-content: center;
  align-items: center; }

.codereview-container {
  margin: 100px 0;
  display: grid; }

.codereview-left {
  display: flex;
  align-items: center;
  justify-content: center; }
  .codereview-left img {
    width: 450px;
    position: relative; }

.codereview-img-box {
  display: flex; }

.codereview-left-rectangle {
  background-color: #2F8C4C;
  width: 40px;
  height: 200px; }

.codereview-right-rectangle {
  background-color: #2F8C4C;
  width: 40px;
  height: 200px; }

.codereview-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px; }
  .codereview-right h1 {
    font-size: 3.5rem;
    color: #2F8C4C;
    margin-bottom: 40px;
    font-family: 'NanumGothic'; }
  .codereview-right p {
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 40px;
    font-family: 'NanumGothic'; }
  .codereview-right span {
    padding: 0 30px;
    font-family: 'NanumGothic'; }

@media (min-width: 1200px) {
  .codereview-container {
    margin: 100px 0;
    display: grid; }
  .codereview-container {
    margin: 100px 0;
    width: 1200px;
    display: grid;
    grid-template-columns: 700px 500px; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .codereview-container {
    margin: 0;
    margin-bottom: 50px; }
  .codereview-container {
    grid-template-rows: 500px 200px; }
  .codereview-left {
    margin: 0; }
    .codereview-left img {
      width: 500px; }
  .codereview-left-rectangle {
    width: 40px;
    height: 150px; }
  .codereview-right-rectangle {
    width: 40px;
    height: 150px; }
  .codereview-right {
    margin-left: 0;
    padding-bottom: 100px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .codereview-container {
    margin: 0;
    margin-bottom: 80px; }
  .codereview-container {
    grid-template-rows: 300px 200px; }
  .codereview-left {
    margin: 0; }
    .codereview-left img {
      width: 300px; }
  .codereview-left-rectangle {
    width: 30px;
    height: 150px; }
  .codereview-right-rectangle {
    width: 30px;
    height: 150px; }
  .codereview-right {
    margin-left: 0; }
    .codereview-right h1 {
      font-size: 2.5rem;
      color: #2F8C4C;
      margin-bottom: 40px;
      font-family: 'NanumGothic'; }
    .codereview-right p {
      font-size: 1.5rem;
      line-height: 2.1rem;
      margin-bottom: 40px;
      font-family: 'NanumGothic'; }
    .codereview-right span {
      padding: 0 30px;
      font-family: 'NanumGothic'; } }

.gettingstart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1; }

.gettingstart-container {
  width: 1200px;
  background-color: #E1E1E1;
  display: flex; }

.gettingstart-rectangle {
  width: 600px;
  height: 700px;
  background-color: #2F8C4C;
  position: relative;
  overflow: hidden;
  left: 20%; }

.gettingstart-img-container img {
  position: relative;
  top: 100px;
  left: -100px;
  width: 650px;
  height: 450px;
  background-color: white; }

.gettingstart-box {
  position: relative;
  top: 400px;
  left: -220px;
  width: 500px;
  height: 170px;
  background-color: white;
  padding: 30px; }
  .gettingstart-box h1 {
    color: #2F8C4C;
    font-size: 2.5rem;
    margin-bottom: 35px;
    font-family: 'NanumGothic'; }
  .gettingstart-box p {
    font-size: 1.6rem;
    margin-bottom: 35px;
    line-height: 1.9rem;
    font-family: 'NanumGothic'; }
  .gettingstart-box span {
    padding: 10px 40px;
    font-size: 1.5rem;
    font-family: 'NanumGothic'; }

@media (min-width: 769px) and (max-width: 1199px) {
  .gettingstart-rectangle {
    left: 30%; }
  .gettingstart-img-container img {
    left: 30px; }
  .gettingstart-box {
    left: -350px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .gettingstart {
    display: none; } }

* {
  font-size: 10px; }

.mainbanner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.mainbanner-container {
  padding: 10px 30px;
  width: auto;
  height: auto;
  display: grid; }

.mainbanner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 600px; }
  .mainbanner-left h1 {
    color: #2F8C4C;
    font-family: 'NanumGothic'; }
  .mainbanner-left p {
    font-family: 'NanumGothic';
    font-weight: 500; }

.mainbanner-right {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mainbanner-right img {
    width: 650px; }

@media (min-width: 1200px) {
  .mainbanner-container {
    grid-template-columns: 1fr 1fr; }
  .mainbanner-right img {
    width: 650px; }
  .mainbanner-left h1 {
    font-size: 4.0rem;
    line-height: 50px;
    margin-bottom: 30px; }
  .mainbanner-left p {
    font-size: 2.0rem;
    font-family: 'NanumGothic';
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 50px; }
  .mainbanner-button-container span {
    margin-right: 50px;
    padding: 20px 50px;
    width: 100px; }
  .mainbanner-button-container-mobile {
    display: none; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .mainbanner-container {
    padding: 10px 30px;
    grid-template-columns: 400px 400px; }
  .mainbanner-right {
    width: 400px; }
    .mainbanner-right img {
      width: 400px; }
  .mainbanner-left {
    width: 400px; }
    .mainbanner-left h1 {
      font-size: 3.0rem;
      line-height: 40px;
      margin-bottom: 100px; }
    .mainbanner-left p {
      font-size: 1.5rem;
      font-family: 'NanumGothic';
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 100px; }
  .mainbanner-button-container {
    display: flex;
    flex-direction: column; }
    .mainbanner-button-container span {
      margin-bottom: 20px;
      padding: 10px 50px; }
  .mainbanner-button-container-mobile {
    display: none; } }

@media (min-width: 335px) and (max-width: 768px) {
  .mainbanner-container {
    display: flex;
    flex-direction: column; }
  .mainbanner-left {
    justify-content: center;
    align-items: center; }
    .mainbanner-left h1 {
      font-size: 2.5rem;
      line-height: 35px;
      margin-bottom: 50px;
      text-align: center; }
    .mainbanner-left p {
      font-size: 1.5rem;
      font-family: 'NanumGothic';
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 10px;
      text-align: center; }
  .mainbanner-right {
    flex-direction: column; }
    .mainbanner-right img {
      width: 375px;
      margin-bottom: 20px; }
  .mainbanner-button-container {
    display: none; }
  .mainbanner-button-container-mobile {
    display: flex;
    flex-direction: column; }
    .mainbanner-button-container-mobile span {
      margin-bottom: 10px;
      padding: 10px 50px; } }

.subbanner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1; }

.subbanner-container {
  padding: 70px 30px;
  width: auto;
  height: auto;
  display: grid; }

.subbanner-left {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center; }

.subbanner-right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 20px; }
  .subbanner-right img {
    width: 300px; }
  .subbanner-right h1 {
    color: #2F8C4C;
    font-size: 3.0rem;
    margin-bottom: 20px;
    font-family: 'NanumGothic'; }
  .subbanner-right p {
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: 'NanumGothic'; }
  .subbanner-right span {
    padding: 5px 60px;
    font-family: 'NanumGothic'; }

@media (min-width: 1200px) {
  .subbanner-container {
    padding: 70px 30px;
    grid-template-columns: 800px 400px; }
  .subbanner-mobile-p {
    display: none; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .subbanner-container {
    display: flex; }
  .subbanner-right {
    display: none; }
  .subbanner-mobile-p {
    display: none; } }

@media (min-width: 335px) and (max-width: 768px) {
  .subbanner-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subbanner-left {
    width: 375px;
    display: flex; }
    .subbanner-left img {
      width: 375px;
      margin-bottom: 20px; }
  .subbanner-right {
    width: 375px;
    margin-left: 0px;
    display: flex;
    flex-direction: column-reverse; }
    .subbanner-right h1 {
      font-size: 2.0rem;
      font-family: 'NanumGothic'; }
    .subbanner-right p {
      font-size: 1.5rem;
      font-family: 'NanumGothic'; }
    .subbanner-right img {
      background-color: white;
      width: 350px;
      height: 250px;
      justify-content: center;
      margin-top: 10px; }
    .subbanner-right span {
      padding: 5px 30px;
      font-family: 'NanumGothic'; }
  .subbanner-p {
    display: none;
    font-family: 'NanumGothic'; } }

.uploadvideo {
  display: flex;
  justify-content: center;
  align-items: center; }

.uploadvideo-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .uploadvideo-container img {
    margin: 70px 0; }

@media (min-width: 1200px) {
  .uploadvideo-container {
    width: 1200px; }
    .uploadvideo-container img {
      width: 1100px; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .uploadvideo-container {
    width: 800px; }
    .uploadvideo-container img {
      width: 800px; } }

@media (min-width: 335px) and (max-width: 768px) {
  .uploadvideo-container {
    width: 375px; }
    .uploadvideo-container img {
      width: 375px; } }

.userreview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  padding: 70px 0; }

.userreview-container {
  width: 1200px;
  display: flex;
  flex-direction: column; }

.userreview-subject h1 {
  font-size: 3.5rem;
  color: #2F8C4C;
  margin-bottom: 30px;
  font-family: 'NanumGothic'; }

.userreview-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #E1E1E1; }
  .userreview-box-container span {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px; }
  .userreview-box-container img {
    width: 100px;
    margin: 30px 0; }
  .userreview-box-container h5 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: 'NanumGothic'; }
  .userreview-box-container div {
    margin-bottom: 30px; }
    .userreview-box-container div img {
      width: 20px;
      margin: 0; }
  .userreview-box-container p {
    font-size: 1.4rem;
    width: 80%;
    font-family: 'NanumGothic';
    line-height: 2.1rem; }

.userreview-howmany-container {
  display: flex;
  justify-content: center; }

.userreview-howmany {
  margin-top: 50px;
  border-bottom: solid 2px #2F8C4C;
  width: 660px; }
  .userreview-howmany h1 {
    font-size: 3.5rem;
    font-family: 'NanumGothic'; }

@media (min-width: 1200px) {
  .userreview-subject h1 {
    font-size: 3.5rem;
    color: #2F8C4C;
    margin-bottom: 30px;
    font-family: 'NanumGothic'; }
  .userreview-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .userreview-howmany {
    margin-top: 50px;
    border-bottom: solid 2px #2F8C4C;
    width: 660px; }
    .userreview-howmany h1 {
      font-size: 3.5rem;
      font-family: 'NanumGothic'; } }

@media (min-width: 769px) and (max-width: 1199px) {
  .userreview-subject h1 {
    font-size: 2.5rem;
    color: #2F8C4C;
    margin-bottom: 0;
    padding: 0 75px;
    font-family: 'NanumGothic'; }
  .userreview-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 70px; }
  .userreview-howmany {
    margin-bottom: 50px;
    border-bottom: solid 2px #2F8C4C;
    width: 480px; }
    .userreview-howmany h1 {
      font-size: 2.5rem;
      font-family: 'NanumGothic'; }
  .userreview-reverse {
    display: flex;
    flex-direction: column-reverse; } }

@media (min-width: 335px) and (max-width: 768px) {
  .userreview-subject h1 {
    font-size: 2.0rem;
    color: #2F8C4C;
    margin-bottom: 30px;
    padding: 0 55px;
    font-family: 'NanumGothic'; }
  .userreview-box-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px; }
  .userreview-reverse {
    display: flex;
    flex-direction: column-reverse; }
  .userreview-howmany-container {
    display: none; } }
