@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0; }


.components-button {
  background-color: #2F8C4C;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  text-justify: inter-word;
  cursor: pointer;
  line-height: 40px; }

.signup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.signup-modal-overlay {
  background-color: rgba(0, 0, 0, 0.379);
  width: 100%;
  height: 100%;
  position: absolute; }

.signup-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgda(0, 0, 0, 0.23);
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  background-color: white; }

.signup-right {
  width: 600px;
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup-right img {
    width: 400px;
    padding: 70px; }

.signup-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  justify-content: center;
  align-items: center; }
  .signup-left .signup-close {
    width: 90%;
    text-align: end;
    font-size: 30px;
    margin-bottom: 30px; }
  .signup-left img {
    width: 250px;
    padding: 0px 20px; }
  .signup-left article {
    width: 300px;
    align-items: flex-start; }
    .signup-left article div {
      font-family: 'NanumGothic';
      font-weight: 600;
      font-size: 13px;
      padding: 10px 0px; }
    .signup-left article input {
      border: solid 1px #E1E1E1;
      border-radius: 5px;
      height: 35px;
      width: 280px;
      padding: 0 10px; }
      .signup-left article input:focus {
        outline: none; }

.signup-button-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .signup-button-container button {
    background-color: #2F8C4C;
    color: white;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: 'NanumGothic';
    cursor: pointer; }
