.codereviewboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.codereviewboard-container{
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.codereviewboard-cardbox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 85vh;
  overflow-y: scroll;
}

.codereviewboard-card{
  border: solid 1px #{$gray};
  padding: 10px;
  margin: 5px;
   h1{
     font-size: 1.5rem;
     margin-bottom: 5px;
   }
   div:nth-child(2) {
     font-size: 1.3rem;
     background-color: #{$gray};
     padding: 5px;
     height: 200px;
   }
}