.mypage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypage-container{
    width: 1200px;
    height: 750px;
    display: flex;
    padding-top: 10px;
}

.mypage-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    // width: 250px;
    height: 695px;
    border: $gray solid 1px;
    border-radius: 25px;
    padding-top: 50px;
    margin-left: 10px;
    div{
        font-size: 1.5rem;
        font-family: 'NanumGothic';
        img{
            width: 150px;
        }
    }
}

.mypage-right-container{
    height: auto;
    flex-wrap: wrap;
}

.remaincodenotice{
    background-color: #{$darkgreen};
    flex-grow: 1;
    border-radius: 25px;
    padding-bottom: 0px;
    line-height: 70px;
    font-family: 'NanumGothic';
    font-size : 1.5rem;
    color: #{$white};
    padding-left : 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.mypage-right-midlle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        flex: 1;
        margin: 10px;
        height: 300px;
        border-radius: 40px;
    }
}

.mypage-right-middle-box-1{
    border: $gray solid 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        span{
            width: 100%;
            text-align: center;
            font-size: 2.5rem;
            font-family: 'NanumGothic';
            font-weight: 1500;
        }
    }
    
}

.mypage-number{
    color: #{$darkgreen};
    font-weight: 1200;
}

.mypage-right-middle-box-2{
    align-items: center;
    border-radius: 40px;
    background-color: #{$gray};
    height: 50px;
    display: flex;
    justify-content: center;
    img{
        margin: 10px;
        width: 200px;
    }
    div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: white;
        font-weight: 1500;
        font-family: 'NanumGothic'
    }
}

.mypage-right-bottom-container{
    margin: 10px;
    flex-grow: 1;
    height: 340px;
    border: $gray solid 1px;
    border-radius: 25px;
}
@include desktop{
    .mypage-left-container{
        width: 250px;
    }
    .mypage-right-container{
        width: 80%;
    }
}

@include tablet {
    .mypage-left-container{
        width: 250px;
    }
    .mypage-right-container{
        width: 80%;
    }
}

@include tablet {
    .mypage-right-middle-box-1{
        div{
            span{
                font-size: 2rem;
                font-family: 'NanumGothic';
                font-weight: 1500;
            }
        }
        
    }
    .mypage-right-middle-box-2{
        flex-direction: column;
        img{
            width: 150px;
        }
        div{
            font-size: 2.5rem;
        }
    }
}


@include mobile {
    .mypage-container{
        display: flex;
        flex-direction: column;
    }
    .mypage-left-container{
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        div{
            display: flex;
        }
        div:nth-child(1){
            flex-direction: column;
        }
    }

    .mypage-left-container{
        flex: 1;
        margin: 10px;
    }

    .mypage-right-middle-box-1{
        div{
            span{
                font-size: 2rem;
                font-family: 'NanumGothic';
                font-weight: 1500;
            }
        }
        
    }
    .mypage-right-middle-box-2{
        flex-direction: column;
        img{
            width: 150px;
        }
        div{
            font-size: 2rem;
        }
    }
}
