* {
  margin: 0;
  padding: 0;
}


.components-button {
  width: auto;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  text-justify: inter-word;
  cursor: pointer;
  line-height: 40px;
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
}