.codeinputsecretbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.codeinputsecretbutton-container{
  width: 1200px;
  display: flex;
  justify-content: flex-end;
}

.codeinputsecretbutton-checkbox{
  margin: 5px;
  display: flex;
  align-items: center;
    span{
      font-size: 1.5rem;
      margin-left: 5px;
      font-family: 'NanumGothic';
    }
    input[type="checkbox"] {
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      height: 14px;
      width: 14px;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 3px;
    }
    
    input[type="checkbox"]:checked {
      background: #{$green};
    }
    
    input[type="checkbox"]:after {
      content: "";
      position: relative;
      left: 40%;
      top: 20%;
      width: 15%;
      height: 40%;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: none;
    }
    
    input[type="checkbox"]:checked:after {
      display: block;
    }
}

.codeinputsecretbutton-button{
  margin-left: 10px;
  span{
    padding: 10px 30px;
    font-size: 1.7rem;
    font-family: 'NanumGothic';
  }
}