.codeinputmain{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.codeinputmain-container{
  width: 1200px;
  display: flex;
    textarea:nth-child(2){
      width: 30%;
      height: 55vh;
      background-color: #{$gray};
      margin: 5px;
      overflow-y: auto;
      padding: 10px;
      font-size: 1.5rem;
      resize: none;
      border: none;
      font-family: 'NanumGothic';
      &:focus {
        outline: none;
      }
    }
}
.codeinputmain-code{
  width :70%;
  height : 55vh;
  margin: 5px;
  overflow-y: auto;
  padding: 10px;
  font-size: auto;
  resize: none;
  border: none;
  font-family: 'NanumGothic';
  background-color: #f5f5f5;
}