.codeinputmain{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.codeinputmain-container{
  width: 1200px;
  display: flex;
    textarea:nth-child(1){
      width: 70%;
      height: 70vh;
      background-color: #{$black};
      margin: 5px;
      overflow-y: scroll;
      padding: 10px;
      font-size: 1.5rem;
      color:white;
      resize: none;
      border: none;
      font-family: 'NanumGothic';
      &:focus {
        outline: none;
      }
    }
    textarea:nth-child(2){
      width: 30%;
      height: 70vh;
      background-color: #{$gray};
      margin: 5px;
      overflow-y: scroll;
      padding: 10px;
      font-size: 1.5rem;
      resize: none;
      border: none;
      font-family: 'NanumGothic';
      &:focus {
        outline: none;
      }
    }
}