.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #{$green};
  // background-color: #fbfaf9;
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

.buttoncontainer-container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
    div{
      span{
        padding: 15px 50px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'NanumGothic';
      }
    }
}

@include mobile {
  .buttoncontainer-container{
    div{
      span{
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
}