.posttagset{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.posttagset-container{
  width: 1200px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin-left: 10px;
}