.codepostmain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.codepostview-container{
    width: 1200px;
    display: flex;
    span:nth-child(1){
        width :70%;
        height :40vh;
        background-color: #{$black};
        margin: 5px;
        overflow-y: auto;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        resize: none;
        border: none;
        font-family: 'NanumGothic';
    }
    span:nth-child(2){
        width: 30%;
        height: 40vh;
        background-color: #{$gray};
        margin: 5px;
        overflow-y: auto;
        padding: 10px;
        font: 1.5rem;
        resize: none;
        border: none;
        font-family: 'NanumGothic';
    }
}
