.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    -ms-user-select:none;
    -moz-user-select:-moz-none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

.navbar-container {
    width: 1200px;
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    text-align: center;
    height: 70px;
        li {
            display: flex;
            align-items: center;
            color: #{$blackgreen};
            font-family: 'NanumGothic';
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
        }
}

.hamburger-menubar{
  font-size: 20px;
}
.navbar-userimg{
    width: 40px;
    border-radius: 50px;
}
.navbar-menu{
    display:none;
}
.navbar-menu.active{
    display: block;
}
.navbar-default-userimg{
    font-size: 20px;
    border: solid 1px #{$gray};
    border-radius: 50px;
    padding: 5px;
    background-color: #{$gray};
    color: white;
}
.login-tag{
    cursor: pointer;
}

@include desktop {
    .navbar{
        position: sticky;
        top:0;
        left: 0;
        z-index: 10;
    }
    .navbar-logo-container{
        img {
            width: 200px;
            padding: 15px 0;
        }
    }
    .navbar-right{
        li{
            margin-left: 20px;
        }
    }
}

@include tablet {
    .navbar{
        position: sticky;
        top:0;
        left: 0;
        z-index: 10;
    }
    .navbar-logo-container{
        img {
            width: 200px;
            padding: 15px 0;
        }
    }
    .navbar-right{
        li{
         margin-left: 20px;
        }
      }
}

@include mobile {
    .navbar-container {
        height: 70px;
    }
    .navbar-logo-container{
        img {
            width: 200px;
            padding: 5px 0;
        }
    }
    .navbar-right{
        li{
         margin-left: 20px;
        }
      }
}