.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.navbar-container {
    width: 1200px;
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    text-align: center;
        li {
            display: flex;
            align-items: center;
            color: #{$blackgreen};
            font-family: 'NanumGothic';
            text-decoration: none;
            font-size: 17px;
            font-weight: 500;
            img{
                width: 25px;
            }
        }
}

@include desktop {
    .navbar{
        position: sticky;
        top:0;
        left: 0;
        z-index: 10;
    }
    .navbar-logo-container{
        img {
            width: 200px;
            padding: 15px 0;
        }
    }
    .navbar-right{
    li{
        margin-left: 30px;
    }
    }
}

@include tablet {
    .navbar{
        position: sticky;
        top:0;
        left: 0;
        z-index: 10;
    }
    .navbar-logo-container{
        img {
            width: 200px;
            padding: 15px 0;
        }
    }
    .navbar-right{
        li{
         margin-left: 30px;
        }
      }
}

@include mobile {
    .navbar-container {
        height: 70px;
    }
    .navbar-logo-container{
        img {
            width: 250px;
            padding: 5px 0;
        }
    }
    .navbar-container {
        li:nth-child(1){
            display: none;
            margin-left: 0px;
            margin-bottom: 10px;
        }
    }
}




// @include desktop{
// .navbar-container{
//     width: auto;
//     height: 35px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin: auto;
// }

// .hamburger-menubar{
//     height: 20px;
//     padding-right: 15px;
// }

// .logo{
//     height: 30px;
// }
// .navbar-right{
//     height:100%;
//     list-style: none;
//     display:flex;
// }
// li{
//     padding-top : 5px;
// }
// .login-tag{
//     color:black;
//     font-family: 'NanumGothic';
//     font-size: 13px;
//     font-weight: 600;
//     padding-right:10px;
//     justify-items: center;
//     cursor: pointer;
// }
// }