.sidebar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.sidebar-container{
  width: 1200px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}

.sidebar-main {
    display: flex;
    align-items: center;
    width: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #{$gray};
      li{
        a{
          color: black;
          font-size: 1.5rem;
          margin-bottom: 20px;
          font-family: 'NanumGothic';
          text-align:left;
        }
      }
}
