.sidebar{
    display: flex;
    position: fixed;
}
// .sidebar-container{
//     display: flex;
// }
.menutab-container{
    margin-top: 20px;
    padding-top: 20px;
    height : 100vh;
    width: 180px;
    background-color: rgb(190, 190, 190);
    display: grid;
    justify-content: center;
}

.nav-text {
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 200%;
    text-align: center;
    cursor: pointer;
    margin: auto;
    font-family: 'NanumGothic';
    font-weight: 700;
}