.sidebar-container{
    height : 100vh;
    width: 230px;
    background-color: $gray;
    display: flex;
    position: absolute;
    right: 0;
    
}
.menutab-container{
    margin:auto;
}
ul{
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    cursor: pointer;
    margin: auto;
    font-family: 'NanumGothic';
    font-weight: 500;
}
